Assignment No : 02

Roll no : 13216

Contents for Theory:1. Creation of Dataset using Microsoft Excel.3. Identification and Handling of Outliers

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("C:/Users/Kiran Janjal/OneDrive/Desktop/student_performance.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   math_score         44 non-null     float64
 1   reading_score      45 non-null     object
 2   writing_score      44 non-null     float64
 3   performance_score  44 non-null     float64
 4   club_joindate      47 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.0+ KB

In [6]:
df.fillna(23)

    math_score reading_score  writing_score  performance_score  club_joindate
0         69.0            81           63.0              100.0         2021.0
1         68.0            81           72.0               98.0         2021.0
2         62.0            84           60.0               77.0         2020.0
3         63.0            76           63.0               75.0         2018.0
4         72.0            75           72.0               23.0         2019.0
5         74.0            78           67.0               23.0         2019.0
6         56.0            80           76.0               23.0         2021.0
7         67.0            80           60.0               23.0         2019.0
8          3.0            79           60.0               23.0         2019.0
9         23.0            77           79.0               86.0         2021.0
10        23.0    79+B12:B23           78.0               91.0           23.0
11        23.0            85           65.0               81.0           23.0
12        23.0            84           74.0               85.0         2018.0
13        23.0            83           23.0               93.0         2020.0
14        60.0            77           23.0               96.0         2018.0
15        78.0            82           23.0               95.0          551.0
16        74.0            81           23.0               82.0         2021.0
17        76.0            75           23.0               86.0         2018.0
18        66.0            82           74.0               96.0         2018.0
19        79.0            82           72.0               83.0         2019.0
20        62.0            84           80.0               99.0         2020.0
21        74.0            23           75.0               78.0         2020.0
22        76.0            23           73.0               77.0         2019.0
23        70.0            23           71.0               86.0         2020.0
24        80.0            23           65.0               92.0         2021.0
25        63.0            83           69.0              100.0         2021.0
26        65.0            78           70.0               85.0         2021.0
27        65.0            85           61.0              100.0         2020.0
28        63.0            83           68.0              100.0         2020.0
29        61.0            82           60.0               75.0         2021.0
30        75.0            75           63.0               96.0         2020.0
31        62.0            78           74.0               77.0         2019.0
32        68.0            85           61.0               76.0         2020.0
33        80.0            84           70.0               88.0         2018.0
34        61.0            76           73.0               80.0         2021.0
35        72.0            75           63.0               95.0         2021.0
36        76.0            83           73.0               87.0         2018.0
37        80.0            75           61.0               91.0         2021.0
38        67.0            83           75.0               88.0         2020.0
39        69.0            75           61.0              100.0         2020.0
40        69.0            81           60.0               89.0         2019.0
41        69.0            77           60.0               76.0         2020.0
42        63.0            84           76.0               89.0         2018.0
43        65.0            76           64.0               92.0         2019.0
44        70.0            84           64.0               99.0         2018.0
45        62.0            82           64.0               88.0         2019.0
46        77.0            79           62.0               88.0         2021.0
47        63.0            79           67.0               98.0         2020.0
48        71.0            78           72.0               83.0         2018.0

In [9]:
df.min

<bound method DataFrame.min of     math_score reading_score  writing_score  performance_score  club_joindate
0         69.0            81           63.0              100.0         2021.0
1         68.0            81           72.0               98.0         2021.0
2         62.0            84           60.0               77.0         2020.0
3         63.0            76           63.0               75.0         2018.0
4         72.0            75           72.0                NaN         2019.0
5         74.0            78           67.0                NaN         2019.0
6         56.0            80           76.0                NaN         2021.0
7         67.0            80           60.0                NaN         2019.0
8          3.0            79           60.0                NaN         2019.0
9          NaN            77           79.0               86.0         2021.0
10         NaN    79+B12:B23           78.0               91.0            NaN
11         NaN            85           65.0               81.0            NaN
12         NaN            84           74.0               85.0         2018.0
13         NaN            83            NaN               93.0         2020.0
14        60.0            77            NaN               96.0         2018.0
15        78.0            82            NaN               95.0          551.0
16        74.0            81            NaN               82.0         2021.0
17        76.0            75            NaN               86.0         2018.0
18        66.0            82           74.0               96.0         2018.0
19        79.0            82           72.0               83.0         2019.0
20        62.0            84           80.0               99.0         2020.0
21        74.0           NaN           75.0               78.0         2020.0
22        76.0           NaN           73.0               77.0         2019.0
23        70.0           NaN           71.0               86.0         2020.0
24        80.0           NaN           65.0               92.0         2021.0
25        63.0            83           69.0              100.0         2021.0
26        65.0            78           70.0               85.0         2021.0
27        65.0            85           61.0              100.0         2020.0
28        63.0            83           68.0              100.0         2020.0
29        61.0            82           60.0               75.0         2021.0
30        75.0            75           63.0               96.0         2020.0
31        62.0            78           74.0               77.0         2019.0
32        68.0            85           61.0               76.0         2020.0
33        80.0            84           70.0               88.0         2018.0
34        61.0            76           73.0               80.0         2021.0
35        72.0            75           63.0               95.0         2021.0
36        76.0            83           73.0               87.0         2018.0
37        80.0            75           61.0               91.0         2021.0
38        67.0            83           75.0               88.0         2020.0
39        69.0            75           61.0              100.0         2020.0
40        69.0            81           60.0               89.0         2019.0
41        69.0            77           60.0               76.0         2020.0
42        63.0            84           76.0               89.0         2018.0
43        65.0            76           64.0               92.0         2019.0
44        70.0            84           64.0               99.0         2018.0
45        62.0            82           64.0               88.0         2019.0
46        77.0            79           62.0               88.0         2021.0
47        63.0            79           67.0               98.0         2020.0
48        71.0            78           72.0               83.0         2018.0>

In [10]:
df.tail(5)

    math_score reading_score  writing_score  performance_score  club_joindate
44        70.0            84           64.0               99.0         2018.0
45        62.0            82           64.0               88.0         2019.0
46        77.0            79           62.0               88.0         2021.0
47        63.0            79           67.0               98.0         2020.0
48        71.0            78           72.0               83.0         2018.0

In [11]:
df.head(5)

   math_score reading_score  writing_score  performance_score  club_joindate
0        69.0            81           63.0              100.0         2021.0
1        68.0            81           72.0               98.0         2021.0
2        62.0            84           60.0               77.0         2020.0
3        63.0            76           63.0               75.0         2018.0
4        72.0            75           72.0                NaN         2019.0

In [12]:
df.describe()

       math_score  writing_score  performance_score  club_joindate
count   44.000000      44.000000          44.000000      47.000000
mean    67.386364      67.954545          88.545455    1988.382979
std     11.765570       6.175550           8.119613     214.224644
min      3.000000      60.000000          75.000000     551.000000
25%     63.000000      62.750000          82.750000    2019.000000
50%     68.500000      67.500000          88.000000    2020.000000
75%     74.000000      73.000000          96.000000    2021.000000
max     80.000000      80.000000         100.000000    2021.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   math_score         44 non-null     float64
 1   reading_score      45 non-null     object
 2   writing_score      44 non-null     float64
 3   performance_score  44 non-null     float64
 4   club_joindate      47 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.0+ KB

In [14]:
df

    math_score reading_score  writing_score  performance_score  club_joindate
0         69.0            81           63.0              100.0         2021.0
1         68.0            81           72.0               98.0         2021.0
2         62.0            84           60.0               77.0         2020.0
3         63.0            76           63.0               75.0         2018.0
4         72.0            75           72.0                NaN         2019.0
5         74.0            78           67.0                NaN         2019.0
6         56.0            80           76.0                NaN         2021.0
7         67.0            80           60.0                NaN         2019.0
8          3.0            79           60.0                NaN         2019.0
9          NaN            77           79.0               86.0         2021.0
10         NaN    79+B12:B23           78.0               91.0            NaN
11         NaN            85           65.0               81.0            NaN
12         NaN            84           74.0               85.0         2018.0
13         NaN            83            NaN               93.0         2020.0
14        60.0            77            NaN               96.0         2018.0
15        78.0            82            NaN               95.0          551.0
16        74.0            81            NaN               82.0         2021.0
17        76.0            75            NaN               86.0         2018.0
18        66.0            82           74.0               96.0         2018.0
19        79.0            82           72.0               83.0         2019.0
20        62.0            84           80.0               99.0         2020.0
21        74.0           NaN           75.0               78.0         2020.0
22        76.0           NaN           73.0               77.0         2019.0
23        70.0           NaN           71.0               86.0         2020.0
24        80.0           NaN           65.0               92.0         2021.0
25        63.0            83           69.0              100.0         2021.0
26        65.0            78           70.0               85.0         2021.0
27        65.0            85           61.0              100.0         2020.0
28        63.0            83           68.0              100.0         2020.0
29        61.0            82           60.0               75.0         2021.0
30        75.0            75           63.0               96.0         2020.0
31        62.0            78           74.0               77.0         2019.0
32        68.0            85           61.0               76.0         2020.0
33        80.0            84           70.0               88.0         2018.0
34        61.0            76           73.0               80.0         2021.0
35        72.0            75           63.0               95.0         2021.0
36        76.0            83           73.0               87.0         2018.0
37        80.0            75           61.0               91.0         2021.0
38        67.0            83           75.0               88.0         2020.0
39        69.0            75           61.0              100.0         2020.0
40        69.0            81           60.0               89.0         2019.0
41        69.0            77           60.0               76.0         2020.0
42        63.0            84           76.0               89.0         2018.0
43        65.0            76           64.0               92.0         2019.0
44        70.0            84           64.0               99.0         2018.0
45        62.0            82           64.0               88.0         2019.0
46        77.0            79           62.0               88.0         2021.0
47        63.0            79           67.0               98.0         2020.0
48        71.0            78           72.0               83.0         2018.0

In [15]:
df.math_score.fillna(67)

0     69.0
1     68.0
2     62.0
3     63.0
4     72.0
5     74.0
6     56.0
7     67.0
8      3.0
9     67.0
10    67.0
11    67.0
12    67.0
13    67.0
14    60.0
15    78.0
16    74.0
17    76.0
18    66.0
19    79.0
20    62.0
21    74.0
22    76.0
23    70.0
24    80.0
25    63.0
26    65.0
27    65.0
28    63.0
29    61.0
30    75.0
31    62.0
32    68.0
33    80.0
34    61.0
35    72.0
36    76.0
37    80.0
38    67.0
39    69.0
40    69.0
41    69.0
42    63.0
43    65.0
44    70.0
45    62.0
46    77.0
47    63.0
48    71.0
Name: math_score, dtype: float64

In [17]:
df.columns.values

array(['math_score', 'reading_score', 'writing_score',
       'performance_score', 'club_joindate'], dtype=object)

In [18]:
df.iloc[20]

math_score             62.0
reading_score            84
writing_score          80.0
performance_score      99.0
club_joindate        2020.0
Name: 20, dtype: object

In [20]:
df.iloc[:,2:5]

    writing_score  performance_score  club_joindate
0            63.0              100.0         2021.0
1            72.0               98.0         2021.0
2            60.0               77.0         2020.0
3            63.0               75.0         2018.0
4            72.0                NaN         2019.0
5            67.0                NaN         2019.0
6            76.0                NaN         2021.0
7            60.0                NaN         2019.0
8            60.0                NaN         2019.0
9            79.0               86.0         2021.0
10           78.0               91.0            NaN
11           65.0               81.0            NaN
12           74.0               85.0         2018.0
13            NaN               93.0         2020.0
14            NaN               96.0         2018.0
15            NaN               95.0          551.0
16            NaN               82.0         2021.0
17            NaN               86.0         2018.0
18           74.0               96.0         2018.0
19           72.0               83.0         2019.0
20           80.0               99.0         2020.0
21           75.0               78.0         2020.0
22           73.0               77.0         2019.0
23           71.0               86.0         2020.0
24           65.0               92.0         2021.0
25           69.0              100.0         2021.0
26           70.0               85.0         2021.0
27           61.0              100.0         2020.0
28           68.0              100.0         2020.0
29           60.0               75.0         2021.0
30           63.0               96.0         2020.0
31           74.0               77.0         2019.0
32           61.0               76.0         2020.0
33           70.0               88.0         2018.0
34           73.0               80.0         2021.0
35           63.0               95.0         2021.0
36           73.0               87.0         2018.0
37           61.0               91.0         2021.0
38           75.0               88.0         2020.0
39           61.0              100.0         2020.0
40           60.0               89.0         2019.0
41           60.0               76.0         2020.0
42           76.0               89.0         2018.0
43           64.0               92.0         2019.0
44           64.0               99.0         2018.0
45           64.0               88.0         2019.0
46           62.0               88.0         2021.0
47           67.0               98.0         2020.0
48           72.0               83.0         2018.0

In [21]:
df.math_score.fillna(67, inplace=True)

C:\Users\Kiran Janjal\AppData\Local\Temp\ipykernel_14544\1148490175.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.math_score.fillna(67, inplace=True)

In [24]:
df['math_score'] = df['math_score'].fillna(67)

In [25]:
df.math_score.isna().sum()

np.int64(0)

In [26]:
df

    math_score reading_score  writing_score  performance_score  club_joindate
0         69.0            81           63.0              100.0         2021.0
1         68.0            81           72.0               98.0         2021.0
2         62.0            84           60.0               77.0         2020.0
3         63.0            76           63.0               75.0         2018.0
4         72.0            75           72.0                NaN         2019.0
5         74.0            78           67.0                NaN         2019.0
6         56.0            80           76.0                NaN         2021.0
7         67.0            80           60.0                NaN         2019.0
8          3.0            79           60.0                NaN         2019.0
9         67.0            77           79.0               86.0         2021.0
10        67.0    79+B12:B23           78.0               91.0            NaN
11        67.0            85           65.0               81.0            NaN
12        67.0            84           74.0               85.0         2018.0
13        67.0            83            NaN               93.0         2020.0
14        60.0            77            NaN               96.0         2018.0
15        78.0            82            NaN               95.0          551.0
16        74.0            81            NaN               82.0         2021.0
17        76.0            75            NaN               86.0         2018.0
18        66.0            82           74.0               96.0         2018.0
19        79.0            82           72.0               83.0         2019.0
20        62.0            84           80.0               99.0         2020.0
21        74.0           NaN           75.0               78.0         2020.0
22        76.0           NaN           73.0               77.0         2019.0
23        70.0           NaN           71.0               86.0         2020.0
24        80.0           NaN           65.0               92.0         2021.0
25        63.0            83           69.0              100.0         2021.0
26        65.0            78           70.0               85.0         2021.0
27        65.0            85           61.0              100.0         2020.0
28        63.0            83           68.0              100.0         2020.0
29        61.0            82           60.0               75.0         2021.0
30        75.0            75           63.0               96.0         2020.0
31        62.0            78           74.0               77.0         2019.0
32        68.0            85           61.0               76.0         2020.0
33        80.0            84           70.0               88.0         2018.0
34        61.0            76           73.0               80.0         2021.0
35        72.0            75           63.0               95.0         2021.0
36        76.0            83           73.0               87.0         2018.0
37        80.0            75           61.0               91.0         2021.0
38        67.0            83           75.0               88.0         2020.0
39        69.0            75           61.0              100.0         2020.0
40        69.0            81           60.0               89.0         2019.0
41        69.0            77           60.0               76.0         2020.0
42        63.0            84           76.0               89.0         2018.0
43        65.0            76           64.0               92.0         2019.0
44        70.0            84           64.0               99.0         2018.0
45        62.0            82           64.0               88.0         2019.0
46        77.0            79           62.0               88.0         2021.0
47        63.0            79           67.0               98.0         2020.0
48        71.0            78           72.0               83.0         2018.0